/*
colors:

OR-graybrown = #978b7d
OR-white = #ffffff

OR-orange = #ff9000
OR-darkorange = #e68000
OR-yellow = #feac00
OR-darkyellow = #e79901
OR-cyan = #64c4b8
OR-darkcyan = #63afa2
OR-red = #e35e01
OR-darkred = #c65303

*/

body {
	height: 100%;
	margin: 0;
	padding: 0;
	color: #978b7d;
	font-family: sans-serif;

}

/*h1 {
	color: #978b7d;
	font-family: sans-serif;
}

p {
	color: #978b7d;
	font-family: sans-serif;
}*/

#header {
	background-color: #978b7d;
	height: 20px;
	margin-top: 0px;
	border: 0px;
}

#subheader {
	background-color: #978b7d;
	height: 20px;
	max-width: 928px;
	margin: 0 auto;
}

#main-content {
	background-color: #ffffff;
	/*height: 100px;*/
	max-width: 928px;
	margin: 0 auto;
}

.header-inline {
	height: 20px;
	width: 13%;
	max-width: 120px;
	min-width: 50px;
	float: right;
}

.logo-tag {
	height: 180px;
	width: 13%;
	max-width: 120px;
	min-width: 50px;
	float: right;
}

/*.logo-tag > img {
	overflow-x: hidden;
}*/

#header-inline1 {
	background-color: #c65303;
}

#header-inline2 {
	background-color: #e79901;
}

#header-inline3 {
	background-color: #63afa2;
}

#header-inline4 {
	background-color: #e68000;
}

#logo-tag1 {
	background-image: url(swirl_tag_think.png)
}

#logo-tag2 {
	background-image: url(swirl_tag_about.png)
}

#logo-tag3 {
	background-image: url(swirl_tag_work.png)
}

#logo-tag4 {
	background-image: url(swirl_tag_hello.png)
}

#logo-area {
	height: 225px;
}

#logo-main {
	display: inline;
	position: relative;
	top: 65px;
	overflow-x: hidden;
	/*width: 400px;
	height: 200px;
	background-image: url(logo_main.png)*/
}

#logo-main-container {
	float: left;
	width: 45%;
}

#think-top {
	background-image: url(main_swirl.png);
	height: 140px;
}

#think-text {
	margin-left: 50%;
}

#dot-think {
	float: left;
	position: relative;
	top: 90px;
	left: 30px;
}